/* .movieList {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  gap: 15px;
  justify-content: center;
  align-items: center;
} */

.movieList {
 display: grid;
 grid-template-columns: repeat(auto-fill, 300px);
 justify-content: center;
}
