.movieCard {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* flex-direction: column; */
    background: hsl(0, 0%, 98%);   
    /* background: hwb(0 28% 72% / 0.992); */
    /* text-align: center;  */
    /* border-radius: 12px; */
    padding: 5px;
    align-content: flex-start;
    /* border: 1px solid black; */
    box-shadow: 0 14px 28px #7b7b7b, 
    0 10px 10px rgb(126, 126, 126); 
    transition: .2s;
    margin: 7px;
}

.movieCard .bellowText {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.moviePoster img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    /* object-fit:contain; */
}

.movieCard:hover { 
    box-shadow: 0 3px 6px hsl(0, 2%, 34%), 
    0 3px 6px #525050; 
    /* transform: translate(0px, -8px); */
}

