html, 
body {
  background-color: #434552fd;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  align-items: center;

}

.appHeader {
  align-items: center;
  justify-content: space-evenly;
  color: #050502;
  background-color: #e8e8e873;
  padding: 20px;
  width: 1800px;
  justify-self: center;
  margin: 20px;
  border: 1px solid #000000;
}


.varHeader {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
/* 
@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
} */
