html, 
body {
  background-color: lab(90.59% 0 -0.01 / 0.992);
}

.App {
  justify-content: space-evenly;
}

.appHeader {
  display: flex;
  background-color: #ffebcd;
  height: 100px;
  width: auto;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 50px;
}

.varHeader {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-right: 30px;
}

main {
  display: flex; 
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
}

.loadMoreButton {
  width: 200px;
  align-self: center;
}

.appFooter {
   display: flex;
  background-color: #ffebcd;
  height: 100px;
  width: auto;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #ffebcd;
  font-family: Rubik, sans-serif;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
/* 
@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
} */